<div class="container" >
    <div class="info">
        <div class="photo">
            <img class="photo1" src="https://t4.ftcdn.net/jpg/03/31/69/91/360_F_331699188_lRpvqxO5QRtwOM05gR50ImaaJgBx68vi.jpg" alt="photo">
        </div>
    </div>
    <div class="user-info">
        <span class="name">{{this.auth.user.firstName}}  </span>
        <span class="lastname">{{this.auth.user.lastName}}</span>  
        <p class="phone">Phone number: {{this.auth.user.phone}}</p>
        <p class="email">Email: {{this.auth.user.email}}</p>
    </div>
    <div class="status">
        <p>Status: {{this.auth.user.status}}</p>
        <p>Role: {{this.auth.user.role}}</p>
    </div>
    </div>