<mat-toolbar color="primary">
    <span class="cursor" (click)="goToDashboard()">Logistics</span>
    <span class="spacer"></span>
    <div *ngIf="this.authService.isLoggedIn()">

        <div class="right-buttons">
            <p class="user-name">
                {{this.authService.user.firstName + ' ' + this.authService.user.lastName}}
            </p>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>person</mat-icon>
            </button>
        </div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialog()">Profile</button>
            <button mat-menu-item>Edit profile</button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="signOut()">Sign out</button>
        </mat-menu>
    </div>

</mat-toolbar>
<router-outlet></router-outlet>