<form class="vertical-center" #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-card class="login-card">
        <h2 class="header">Login</h2>
        <mat-card-content>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input [(ngModel)]="username" name="username" matInput placeholder="Placeholder">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input [(ngModel)]="password" name="password" type="password" matInput placeholder="Placeholder">
                </mat-form-field>
            </p>
        </mat-card-content>
        <mat-card-footer>
            <button mat-flat-button color="primary" type="submit">Login</button>
        </mat-card-footer>
    </mat-card>
</form>