.main {
background: rgb(91, 181, 167);
    background: linear-gradient(90deg, rgba(91, 181, 167, 1) 0%, rgba(141, 156, 184, 0.7091211484593838) 54%, rgba(158, 242, 238, 1) 100%);
    min-height: 100%;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 50px;
}

.btn {
    background-color: rgb(38, 192, 38);
}

.create-order {
    position: relative;
    text-align: center;
}

.container {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    margin-top: 20px;
}

.flex-container {
    display: flex;
}

.created {
    font-size: 18px;
    padding-left: 15px;
    padding-top: 10px;
    color: rgb(80, 237, 80);
}

mat-list-item {
    display: inline;
}

.description {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 18px;
}

.btn-delete {
    float: right;
    margin-top: -20px;
    margin-right: -40px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dash {
    padding-left: 5px;
    padding-right: 5px;
}

.clock,
.calendar,
.zoom_out_map,
.public {
    position: relative;
    top: 6px;
    font-size: 22px;
}

.fitness_center {
    position: relative;
    top: 7px;
    font-size: 22px;
}

.trucker {
    margin-top: -25px;
    text-align: end;
    margin-right: 25px;
}

.local_shipping {
    margin-bottom: -3px;
}
